body {
  background-color: rgb(27, 27, 66);
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat-app {
  min-height: 700px;
  width: 500px;
  max-width: 100%;
  margin-top: 30px;
  background-color: rgb(221, 221, 221);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s;
}
.profile-photo {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

form {
  display: flex;
}
input {
  width: 100%;
  font-size: 20px;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}
.message {
  display: flex;
  align-items: flex-start;
  transition: all 0.3s  ;
}
.message p {
  max-width: 400px;
  display: flex;
  margin: 10px;
  word-break: break-all;
}
.messages {
  max-height: 500px;
  overflow-y: auto;
}
.send-button {
  color: blue;
  border-radius: 50px;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.new-message-form{
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
}
.header{
  text-align: center;
  font-size: 15px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(0, 0, 82);
}
.only-message{
  display: flex;
  align-items: center;
  background-color: rgb(133, 133, 255);
  margin: 10px ;
  padding: 10px;
  border-radius: 10px;
}
.delete-btn{
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(216, 0, 0);
}

@media (max-width: 500px){
  .chat-app{
    width: inherit;
    min-height: inherit;
  }
}