body {
  background-color: rgb(27, 27, 66);
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chat-app {
  width: 100%;
  margin-top: 30px;
  background-color: rgb(221, 221, 221);
  padding: 20px;
}
.profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

form {
  display: flex;
}
input {
  width: 100%;
  font-size: 20px;
  padding: 15px 10px;
}
.message {
  display: flex;
  align-items: center;
}
.message p {
  max-width: 400px;
  display: flex;
  background-color: rgb(133, 133, 255);
  margin: 10px;
  padding: 20px 10px;
  word-break: break-all;
}
.messages {
  max-height: 500px;
  overflow-y: auto;
}
.send-button {
  color: blue;
  background: none;
  outline: none;
  border: none;
}
